/* importing google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;700&display=swap");

/* global reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    font-family: "Poppins", sans-serif;
    color: #333;
    min-height: 100vh;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 55px;
    color: #0b1e46;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    font-family: "Poppins", sans-serif;
    padding: 15px;
    font-size: 20px;
    border: none;
    background: white;
}

form input:focus,
form button:focus {
    outline: none;
}

form button {
    color: #ee9ca7;
    cursor: pointer;
    background: white;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: #ee9ca7;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 20%;
    margin-top: 50px;
}

.todo {
    padding: 10px;
    background: white;
    margin-bottom: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.todo li {
    flex: 1;
}

.todo-item {
    margin-right: 8px;
}

.trash,
.check {
    background: rgb(255, 127, 80);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgba(130, 130, 140, 0.4);
}

.check {
    background: rgb(31, 223, 143);
}

.trash:focus,
.check:focus {
    outline: none;
}

.trash:hover {
    background: rgb(255, 253, 250);
    color: rgb(255, 127, 80);
}
.check:hover {
    background: rgb(255, 253, 250);
    color: rgb(31, 223, 143);
}
